/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap'); */
@import url('https://api.fontshare.com/css?f[]=clash-display@300,400,500,600&f[]=clash-grotesk@300,400,500,600&display=swap');
@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-display: 'Clash Display', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  --nav-height: 64px;
  --sidebar-width: 480px;
  --timeline-height: 80px;
  --bg: #cacaca;
  --accent: #93ff00;
}

::-moz-selection {
  /* Code for Firefox */
  color: #93ff00;
  background: var(--bg);
}

::selection {
  color: #93ff00;
  background: var(--bg);
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;

  background-color: var(--accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  letter-spacing: 0px;
  font-weight: 400;
  letter-spacing: -0.25px;
}

a {
  color: black;
  text-decoration: none;
}

a.inline-link {
  color: var(--accent);
  font-weight: 400;
}

p {
  font-weight: 300;
  letter-spacing: -0.3px;
}

* {
  box-sizing: border-box;
}

button {
  font-family: var(--font-family);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rich-text p {
  margin: 0;
  line-height: 1.5;
}

.rich-text ul {
  margin: inherit 0;
  padding-inline-start: 1.85rem;
}

.rich-text ul li {
  padding: 0.3125rem 0;
}

@layer components {
  .rich-text {
    @apply text-lg;
  }
}

@media (max-width: 880px) {
  :root {
    --sidebar-width: '100%';
  }
}
